[submodule "broseph_repo"]
	path = broseph_repo
	url = https://github.com/rmeinzer-copado/broseph
[submodule "test_repo"]
	path = test_repo
	url = https://github.com/langchain-ai/langchain
[submodule "falkordb-py_repo"]
	path = falkordb-py_repo
	url = https://github.com/falkordb/falkordb-py
